.body-section__sentence-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.body-section__intro div {
  overflow: hidden;
  white-space: nowrap;
  animation:
    type 2s steps(100, end);
}

.message-dot {
  margin: 10px 3px 1px 0px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: purple;
  animation: message-dot 1s;
}

@keyframes type {
  from { width: 0 }
  to { width: 100% }
}

@keyframes message-dot {
  0% { background-color: red }
  50% { background-color: blue }
  100% { background-color: purple }
}
