.body-section__sentence-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
}

.message-dot {
  margin: 10px 3px 1px 0px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: purple;
  animation: message-dot 1s;
}

@keyframes message-dot {
  0% { background-color: red }
  50% { background-color: blue }
  100% { background-color: purple }
}
