$background-color: blue;
$background-color-tablet: lightblue;
$background-color-laptop: green;
$background-color-desktop: lightgreen;

$background-color-navigation: darkblue;
$background-color-navigation-title-hightlight: pink;

$background-color-footer: darkgreen;
$background-color-footer-title-hightlight: purple;

$font-hover-color: white;
