body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
  min-width: auto;
}

.main-container {
  display: flex;
  flex: 1;
  background-color: $background-color;
  @media (min-width: $mq-tablet) {
    background-color: $background-color-tablet;
  }
  @media (min-width: $mq-laptop) {
    background-color: $background-color-laptop;
    flex-direction: column;
  }
  @media (min-width: $mq-desktop) {
    background-color: $background-color-desktop;
  }
}

.body-container {
  flex: 1;
  padding: $padding-body;

  @media (min-width: $mq-tablet) {
    padding: $padding-body-tablet;
  }
  @media (min-width: $mq-laptop) {
    padding: $padding-body-computer;
  }
  @media (min-width: $mq-desktop) {
    padding: $padding-body-computer;
  }
}

.popover {
  display: none;
  position: absolute;
  z-index: 99;
  background-color: white;
  height: 175px;
  width: 175px;
}
