.navigation-container {
  z-index: 1;
  display: flex;
  width: 40%;
  padding: 5px;
  background-color: $background-color-navigation;
  @media (min-width: $mq-tablet) {
    width: 30%;
  }
  @media (min-width: $mq-laptop) {
    width: 100%;
  }
  nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    @media (min-width: $mq-desktop) {
      flex-direction: row;
    }
  }
}

.navigation-section__title {
  display: flex;
  @media (min-width: $mq-desktop) {
    flex: 2;
  }
  @media (min-width: $mq-tablet) {
    padding-bottom: $padding;
  }
}

.navigation-section__title--display{
  display: flex;
  margin: auto;
  border-radius: 50%;
  font-size: $font-navigation-bold;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: $navigation-section__title--height;
  width: $navigation-section__title--width;
  background-color: $background-color-navigation-title-hightlight;
}

.navigation-section__links {
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  flex: .5;
  li:hover {
    transition: color 1000ms ease-out;
    color: $font-hover-color;
  }
  ul {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  li{
    display: flex;
  }
  @media (min-width: $mq-laptop) {
    padding-top: $zero;
    ul{
      display: flex;
      flex: 1;
      flex-direction: row;
    }
    li {
      display: flex;
      flex: 1;
    }
    a {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
  }
  @media (min-width: $mq-desktop) {
    flex: 5;
  }
  a {
    display: flex;
  }
  @media (min-width: $mq-tablet) and (max-width: $mq-laptop) {
    flex: .75;
  a {
    display: flex;
    flex: 1;
    align-items: right;
  }
}
}

.navigation-section__links--name {
  display: none;
  @media (min-width: $mq-tablet) and (max-width: $mq-laptop) {
    display: flex;
    flex: 7;
    font-size: $font-navigation-tablet;
    padding-left: $padding-tablet;
    align-items: flex-end;
  }
  @media (min-width: $mq-laptop) {
    display: none;
  }
  @media (min-width: $mq-desktop) {
    display: block;
    font-size: $font-navigation-desktop;
  }
}

.navigation-section__links--icon {
  @media (min-width: $mq-tablet) {
    display: flex;
    flex: 2;
    padding-right: $padding-tablet;
  }
  @media (min-width: $mq-desktop) {
    display: block;
  }
  @media (min-width: $mq-laptop) {
    justify-content: center;
  }
}

.navigation-section__links--link {
  display: flex;
  flex: 1;
  background-color: orange;
  justify-content: center;
  align-items: center;
  font-size: $navigation-section__title;
}
