$mq-tablet: 768px;
$mq-laptop: 992px;
$mq-desktop: 1200px;

$padding-body: 5px;
$padding-body-tablet: 10px;
$padding-body-computer: 25px;

$zero: 0px;
$padding: 5px;
$padding-tablet: 10px;
$padding-laptop: 15px;
$padding-computer: 25px;

$navigation-section__title--height: 55px;
$navigation-section__title: 55px;
$navigation-section__title--width: 55px;

$font-navigation-bold: 25px;
$font-navigation-desktop: 20px;
$font-navigation-tablet: 18px;

$height-name-container: 80px;
