@import "size-variables";
@import "color-variables";
@import "resets";
@import "main";
@import "navigation";
@import "footer";
@import "body-section";

@import "grid/grid-body";
@import "grid/grid-template";
@import "grid/grid-gap";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.info {
  display: none;
}

/* smaller than a tablet is the default design*/
/* Small devices (tablets, 768px and up)  @media (min-width: 768px) { ... }
/* Medium devices (desktops, 992px and up)  @media (min-width: 992px) { ... }
/* Large devices (large desktops, 1200px and up)  @media (min-width: 1200px) { ... } */
