html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  min-height: 100vh;
  min-width: auto; }

.container {
  flex: 1;
  background: linear-gradient(75deg, #e91313, #e91313 15%, #e91313 20%, #0099f6 20%, #0099f6 27%, #0099f6 80%, #0099f6 81%, #00b844 81%, #00b844 89%, #f25f00 89%);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.container-heading {
  padding-bottom: 40vh;
  font-size: 40px;
  color: #00b844;
  mix-blend-mode: difference;
  filter: invert(1); }

.container-view {
  background-color: black;
  min-width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column; }

.container-view > div {
  margin: 5px; }

.lcars-row_curve {
  height: 250px;
  background: linear-gradient(to bottom, transparent 50%, #f25f00 50%, #f25f00), linear-gradient(to right, transparent 26%, black 26%, black), linear-gradient(to bottom, #f25f00, #f25f00);
  border-radius: 0 0 0 150px; }

.lcars-row__medium {
  flex: 1;
  display: flex; }

.lcars-row-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px 0 0; }

.lcars-row__medium .lcars-row-column:last-of-type {
  flex: 1;
  align-items: flex-end; }

.lcars-row-column__full {
  background-color: #a184ce;
  flex: 1;
  min-width: 200px; }

.lcars-rect {
  min-width: 150px;
  padding: 10px;
  background-color: #fda100;
  border-radius: 50px; }

.lcars-rect__tall {
  background: linear-gradient(to right, #fcd393, #fcd393 80%, black 80%, black 85%, #fcd393 85%, #fcd393 88%, black 88%, black 90%, #fcd393 90%, #fcd393);
  width: 400px;
  border-radius: 50px;
  padding: 10px; }

.lcars-row-column__half {
  flex: 1;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.lcars-row-column__half:last-of-type {
  padding: 0; }

.lcars-rect__text {
  color: #ff9b5d; }

.navigation-container {
  z-index: 1;
  display: flex;
  width: 40%;
  padding: 5px;
  background-color: darkblue; }
  @media (min-width: 768px) {
    .navigation-container {
      width: 30%; } }
  @media (min-width: 992px) {
    .navigation-container {
      width: 100%; } }
  .navigation-container nav {
    display: flex;
    flex: 1;
    flex-direction: column; }
    @media (min-width: 1200px) {
      .navigation-container nav {
        flex-direction: row; } }

.navigation-section__title {
  display: flex; }
  @media (min-width: 1200px) {
    .navigation-section__title {
      flex: 2; } }
  @media (min-width: 768px) {
    .navigation-section__title {
      padding-bottom: 5px; } }

.navigation-section__title--display {
  display: flex;
  margin: auto;
  border-radius: 50%;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  background-color: pink; }

.navigation-section__links {
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  flex: .5; }
  .navigation-section__links li:hover {
    transition: color 1000ms ease-out;
    color: white; }
  .navigation-section__links ul {
    display: flex;
    flex: 1;
    flex-direction: column; }
  .navigation-section__links li {
    display: flex; }
  @media (min-width: 992px) {
    .navigation-section__links {
      padding-top: 0px; }
      .navigation-section__links ul {
        display: flex;
        flex: 1;
        flex-direction: row; }
      .navigation-section__links li {
        display: flex;
        flex: 1; }
      .navigation-section__links a {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center; } }
  @media (min-width: 1200px) {
    .navigation-section__links {
      flex: 5; } }
  .navigation-section__links a {
    display: flex; }
  @media (min-width: 768px) and (max-width: 992px) {
    .navigation-section__links {
      flex: .75; }
      .navigation-section__links a {
        display: flex;
        flex: 1;
        align-items: right; } }

.navigation-section__links--name {
  display: none; }
  @media (min-width: 768px) and (max-width: 992px) {
    .navigation-section__links--name {
      display: flex;
      flex: 7;
      font-size: 18px;
      padding-left: 10px;
      align-items: flex-end; } }
  @media (min-width: 992px) {
    .navigation-section__links--name {
      display: none; } }
  @media (min-width: 1200px) {
    .navigation-section__links--name {
      display: block;
      font-size: 20px; } }

@media (min-width: 768px) {
  .navigation-section__links--icon {
    display: flex;
    flex: 2;
    padding-right: 10px; } }
@media (min-width: 1200px) {
  .navigation-section__links--icon {
    display: block; } }
@media (min-width: 992px) {
  .navigation-section__links--icon {
    justify-content: center; } }

.navigation-section__links--link {
  display: flex;
  flex: 1;
  background-color: orange;
  justify-content: center;
  align-items: center;
  font-size: 55px; }

.footer-container {
  display: none;
  background-color: darkgreen; }
  @media (min-width: 992px) {
    .footer-container {
      display: flex; } }

.body-section__sentence-container--left {
  display: flex;
  flex-direction: row;
  margin: 5px;
  margin-top: 25px;
  position: absolute;
  left: -3000px;
  animation: slide-left 0.5s forwards;
  animation-delay: 1s; }
  .body-section__sentence-container--left:nth-of-type(3) {
    animation-delay: 4s; }
  .body-section__sentence-container--left:nth-of-type(5) {
    animation-delay: 8s; }
  .body-section__sentence-container--left:nth-of-type(7) {
    animation-delay: 12s; }
  .body-section__sentence-container--left:nth-of-type(9) {
    animation-delay: 16s; }

.body-section__sentence-container--right {
  display: flex;
  flex-direction: row;
  margin: 5px;
  margin-top: 25px;
  position: absolute;
  right: -1000px;
  animation: slide-right 0.5s forwards;
  animation-delay: 2s; }
  .body-section__sentence-container--right:nth-of-type(4) {
    animation-delay: 6s; }
  .body-section__sentence-container--right:nth-of-type(6) {
    animation-delay: 10s; }
  .body-section__sentence-container--right:nth-of-type(8) {
    animation-delay: 14s; }
  .body-section__sentence-container--right:nth-of-type(10) {
    animation-delay: 17s; }

.body-section__dots-container {
  position: absolute;
  left: -100px;
  display: flex;
  flex-direction: row;
  margin: 5px;
  animation: slide 0.5s forwards;
  animation-delay: 2s; }

@keyframes slide-left {
  100% {
    left: 0px; } }
@keyframes slide-right {
  100% {
    right: 0px; } }
.body-section__sentence-content {
  padding: 5px 15px;
  border-radius: 30px;
  background-color: white;
  border: 2px solid lightgrey; }

.message-dot {
  margin: 10px 3px 1px 0px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: purple;
  animation: message-dot 1s; }

@keyframes message-dot {
  0% {
    background-color: red; }
  50% {
    background-color: blue; }
  100% {
    background-color: purple; } }
.main-container {
  display: flex;
  flex: 1;
  background: blue;
  background: linear-gradient(blue 60%, pink 40%); }
  @media (min-width: 768px) {
    .main-container {
      background: lightblue;
      background: linear-gradient(lightblue 60%, pink 40%); } }
  @media (min-width: 992px) {
    .main-container {
      background: green;
      background: linear-gradient(green 60%, pink 40%);
      flex-direction: column; } }
  @media (min-width: 1200px) {
    .main-container {
      background: lightgreen;
      background: linear-gradient(lightgreen 60%, pink 40%); } }

.body-container {
  flex: 1;
  padding: 5px; }
  @media (min-width: 768px) {
    .body-container {
      padding: 10px; } }
  @media (min-width: 992px) {
    .body-container {
      padding: 25px; } }
  @media (min-width: 1200px) {
    .body-container {
      padding: 25px; } }

.popover {
  display: none;
  position: absolute;
  z-index: 99;
  background-color: white;
  height: 175px;
  width: 175px; }

.explainer__links {
  cursor: pointer; }

.show {
  display: grid; }

.grid-experiments-body {
  background-color: blue; }

.grid-container__spacing {
  background-color: yellow;
  display: none;
  grid-template-columns: 200px 300px 200px;
  grid-column-gap: 15px;
  grid-template-rows: 200px 200px;
  grid-row-gap: 15px; }
  .grid-container__spacing.show {
    display: grid; }

.grid-container__spacing--item {
  background-color: red;
  border: 1px solid white; }

.grid-template-container {
  background-color: paleturquoise;
  display: none;
  grid-template-columns: 80px auto 280px;
  grid-template-rows: 100px 100px 100px;
  grid-row-gap: 10px;
  grid-column-gap: 30px; }
  .grid-template-container.show {
    display: grid; }

.grid-template-container--item {
  background-color: palegoldenrod;
  border: 2px solid plum; }

.grid-gap-container {
  display: none; }
  .grid-gap-container.show {
    display: grid; }

.grid-gap-container--item {
  background-color: orange; }

.grid-template-area-container {
  display: none;
  justify-content: center;
  background-color: lightseagreen;
  grid-template-columns: 200px 100px 200px 200px;
  grid-column-gap: 20px;
  grid-template-rows: 175px auto 75px;
  grid-row-gap: 10px;
  grid-template-areas: "header header header header" "body body . sidebar"  "footer footer footer footer"; }
  .grid-template-area-container.show {
    display: grid; }

.grid-template-area-container--item-one {
  grid-area: header;
  background-color: lightblue;
  border: 2px solid red; }

.grid-template-area-container--item-two {
  grid-area: body;
  background-color: lightcoral;
  border: 2px solid red; }

.grid-template-area-container--item-three {
  grid-area: sidebar;
  background-color: lightcyan;
  border: 2px solid red; }

.grid-template-area-container--item-four {
  grid-area: footer;
  background-color: lightgreen;
  border: 2px solid red; }

.rule-explanation {
  padding: 3% 10%;
  background-color: gray;
  color: white; }

.rule-explanation__content {
  display: none; }
  .rule-explanation__content.visible {
    display: block; }

.explainer__links {
  background-color: lightblue;
  border: 2px solid navajowhite;
  padding: 10px;
  margin: 15px; }

.lcars-heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #d280cc;
  border-radius: 50px;
  padding-right: 50px;
  text-align: right; }

.lcars-heading__main {
  font-size: 22px;
  padding-right: 10px;
  text-transform: uppercase; }

.lcars-heading__knockout {
  padding: 0 10px;
  font-size: 35px;
  background-color: black;
  color: #ff9b5d; }

.lcars-chunk {
  background-color: #ff9b5d;
  height: 135px;
  width: 30%; }

.lcars-chunk__text {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 5px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
  height: 100%;
  width: 100%; }

.lcars-row {
  display: flex;
  justify-content: space-between; }

.lcars-group {
  width: 40%; }

.lcars-group__set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.lcars-button {
  min-width: 40%;
  margin: 5px;
  height: 35px;
  display: flex;
  align-items: center; }

.lcars-button:nth-of-type(7n+1) {
  background-color: #cf5a63;
  order: 1;
  justify-content: flex-end;
  padding-right: 15px;
  border-radius: 50px 0 0 50px; }

.lcars-button:nth-of-type(7n+2) {
  background-color: #ad62ff;
  order: 2;
  padding-left: 15px;
  border-radius: 0 50px 50px 0; }

.lcars-button:nth-of-type(7n+3) {
  background-color: #d24196;
  order: 3;
  justify-content: flex-end;
  padding-right: 15px;
  border-radius: 50px 0 0 50px; }

.lcars-button:nth-of-type(7n+4) {
  background-color: #ff9b5d;
  order: 4;
  padding-left: 15px;
  border-radius: 0 50px 50px 0; }

.lcars-button:nth-of-type(7n+5) {
  background-color: #fcd393;
  order: 5;
  justify-content: flex-end;
  padding-right: 15px;
  border-radius: 50px 0 0 50px; }

.lcars-button:nth-of-type(7n+6) {
  background-color: #fda100;
  order: 6;
  padding-left: 15px;
  border-radius: 0 50px 50px 0; }

.lcars-button:nth-of-type(7n+7) {
  background-color: #a184ce;
  order: 7;
  justify-content: flex-end;
  padding-right: 15px;
  border-radius: 50px 0 0 50px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.info {
  display: none; }

/* smaller than a tablet is the default design*/
/* Small devices (tablets, 768px and up)  @media (min-width: 768px) { ... }
/* Medium devices (desktops, 992px and up)  @media (min-width: 992px) { ... }
/* Large devices (large desktops, 1200px and up)  @media (min-width: 1200px) { ... } */

/*# sourceMappingURL=styles.css.map */
