.grid-gap-container {
    display: none;

    &.show {
        display: grid;
    }
}

.grid-gap-container__column {

}

.grid-gap-container__row {

}

.grid-gap-container--item {
    background-color: orange; 
}